IO_LOC  "mosi" 77;
IO_PORT "mosi" DRIVE=8 PULL_MODE=UP;

IO_LOC  "lcd_rs" 49;
IO_PORT "lcd_rs" DRIVE=8 PULL_MODE=UP;

IO_LOC  "cs" 48;
IO_PORT "cs" DRIVE=8 PULL_MODE=UP;

IO_LOC  "lcd_resetn" 47;
IO_PORT "lcd_resetn" DRIVE=8 PULL_MODE=UP;

IO_LOC  "sclk" 76;
IO_PORT "sclk" DRIVE=8 PULL_MODE=UP;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led[0]" 10;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[1]" 11;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[2]" 13;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[3]" 14;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[4]" 15;
IO_PORT "led[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[5]" 16;
IO_PORT "led[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;

IO_LOC  "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18;
