IO_LOC  "num1[4]" 25;
IO_PORT "num1[4]" IO_TYPE=SSTL25_I;

IO_LOC  "leds[7]" 69;
IO_PORT "leds[7]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "leds[6]" 68;
IO_PORT "leds[6]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "leds[5]" 57;
IO_PORT "leds[5]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "leds[4]" 56;
IO_PORT "leds[4]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "leds[3]" 55;
IO_PORT "leds[3]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "leds[2]" 54;
IO_PORT "leds[2]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "leds[1]" 53;
IO_PORT "leds[1]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "leds[0]" 51;
IO_PORT "leds[0]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "num2[7]" 42;
IO_PORT "num2[7]" IO_TYPE=LVCMOS18;

IO_LOC  "num2[6]" 41;
IO_PORT "num2[6]" IO_TYPE=LVCMOS18;

IO_LOC  "num2[5]" 35;
IO_PORT "num2[5]" IO_TYPE=LVCMOS18;

IO_LOC  "num2[4]" 40;
IO_PORT "num2[4]" IO_TYPE=LVCMOS18;

IO_LOC  "num2[3]" 34;
IO_PORT "num2[3]" IO_TYPE=LVCMOS18;

IO_LOC  "num2[2]" 33;
IO_PORT "num2[2]" IO_TYPE=LVCMOS18;

IO_LOC  "num2[1]" 30;
IO_PORT "num2[1]" IO_TYPE=LVCMOS18;

IO_LOC  "num2[0]" 29;
IO_PORT "num2[0]" IO_TYPE=LVCMOS18;

IO_LOC  "num1[7]" 28;
IO_PORT "num1[7]" IO_TYPE=LVCMOS18;

IO_LOC  "num1[6]" 27;
IO_PORT "num1[6]" IO_TYPE=LVCMOS18;

IO_LOC  "num1[5]" 26;
IO_PORT "num1[5]" IO_TYPE=LVCMOS18;

IO_LOC  "num1[3]" 39;
IO_PORT "num1[3]" IO_TYPE=LVCMOS18;

IO_LOC  "num1[2]" 36;
IO_PORT "num1[2]" IO_TYPE=LVCMOS18;

IO_LOC  "num1[1]" 37;
IO_PORT "num1[1]" IO_TYPE=LVCMOS18;

IO_LOC  "num1[0]" 38;
IO_PORT "num1[0]" IO_TYPE=LVCMOS18;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led[0]" 10;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[1]" 11;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[2]" 13;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[3]" 14;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[4]" 15;
IO_PORT "led[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[5]" 16;
IO_PORT "led[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;

IO_LOC  "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18;
