.device LFE5U-45F

.comment Part: LFE5U-45F-6CABGA381

.tile CIB_R10C3:PVT_COUNT2
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile CIB_R22C89:CIB_LR_S
arc: JA3 V02N0701
enum: CIB.JB3MUX 0

.tile CIB_R23C89:CIB_LR
arc: N1_V02N0701 H06E0203

.tile CIB_R29C89:CIB_LR
arc: S1_V02S0501 H06E0303

.tile CIB_R31C89:CIB_LR
arc: JA0 N1_V02S0501
enum: CIB.JB0MUX 0

.tile CIB_R38C1:CIB_LR
arc: JD7 V00B0000
arc: V00B0000 S1_V02N0001

.tile CIB_R40C1:CIB_LR
arc: N1_V02N0001 S3_V06N0003

.tile CIB_R43C1:CIB_LR
arc: S1_V02S0401 H06W0203

.tile CIB_R44C1:CIB_LR
arc: S1_V02S0701 H02W0701

.tile CIB_R44C89:CIB_LR
arc: JA3 W1_H02E0701
enum: CIB.JB3MUX 0

.tile CIB_R45C1:CIB_LR
arc: S1_V02S0501 N1_V02S0401

.tile CIB_R46C1:CIB_LR_S
arc: JA0 N1_V02S0701
arc: JA3 V02S0501
arc: N3_V06N0003 S3_V06N0003
enum: CIB.JB3MUX 0
enum: CIB.JB0MUX 0

.tile CIB_R52C1:CIB_LR
arc: N3_V06N0003 S3_V06N0303

.tile CIB_R58C1:CIB_LR_S
arc: N3_V06N0303 S3_V06N0303

.tile CIB_R59C1:CIB_LR
arc: H00L0100 H02W0101
arc: JA0 H00L0100
arc: S1_V02S0501 H02W0501
enum: CIB.JB0MUX 0

.tile CIB_R5C1:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R5C89:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R61C1:CIB_LR
arc: JA0 N1_V02S0501
enum: CIB.JB0MUX 0

.tile CIB_R64C1:CIB_LR
arc: N3_V06N0303 S3_V06N0303

.tile CIB_R70C14:CIB
arc: E1_H02E0501 V06S0303

.tile CIB_R70C16:CIB
arc: JA0 W1_H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R70C1:CIB_LR_S
arc: N3_V06N0303 JF5

.tile CIB_R70C3:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C42:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C43:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C44:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C45:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C46:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C47:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C48:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C49:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C50:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C51:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C52:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C53:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R70C69:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C70:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C71:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C72:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C73:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C74:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C75:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C76:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C77:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C78:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C79:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R70C80:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R70C87:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile MIB_R10C40:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000
arc: G_ULPCLK0 G_HPFE0000

.tile MIB_R10C41:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000
arc: G_URPCLK0 G_HPFE0000

.tile MIB_R10C90:BANKREF2
enum: BANK.VCCIO 3V3

.tile MIB_R21C90:PICR1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R22C90:MIB_CIB_LR_A
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R30C90:PICR1_DQS3
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R31C90:PICR2
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R34C3:LMID_0
arc: G_LDCC0CLKI G_JLLQPCLKCIB0

.tile MIB_R44C90:PICR0
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R45C0:PICL1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R45C90:PICR1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R46C0:MIB_CIB_LR
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R58C12:EBR_SPINE_LL1
arc: G_VPTX0000 G_HPRX0000

.tile MIB_R58C40:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000
arc: G_LLPCLK0 G_HPFE0000

.tile MIB_R58C41:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000
arc: G_LRPCLK0 G_HPFE0000

.tile MIB_R59C0:PICL0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R60C0:PICL1
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R61C0:PICL2
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R69C0:PICL1
enum: PIOC.BASE_TYPE INPUT_LVCMOS33
enum: PIOC.HYSTERESIS ON

.tile MIB_R70C0:MIB_CIB_LR
enum: PIOC.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R71C16:PICB1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R71C1:BANKREF6
enum: BANK.VCCIO 3V3

.tile MIB_R71C3:BANKREF8
enum: BANK.VCCIO 3V3

.tile MIB_R71C4:EFB0_PICB0
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R71C89:BANKREF3
enum: BANK.VCCIO 3V3

.tile R23C32:PLC2
arc: E3_H06E0103 S3_V06N0103

.tile R23C38:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R23C44:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R23C50:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R23C56:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R23C62:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R23C68:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R23C74:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R23C80:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R23C86:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R29C12:PLC2
arc: E3_H06E0003 S3_V06N0003

.tile R29C18:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R29C24:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R29C30:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R29C32:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R29C36:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R29C42:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R29C48:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R29C54:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R29C60:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R29C66:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R29C72:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R29C78:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R29C84:PLC2
arc: E1_H02E0601 W3_H06E0303

.tile R29C86:PLC2
arc: E3_H06E0303 W1_H02E0601

.tile R35C12:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R35C31:PLC2
arc: E1_H02E0201 S1_V02N0201

.tile R35C32:PLC2
arc: D3 H02E0201
arc: F3 F3_SLICE
arc: N3_V06N0003 F3
word: SLICEB.K1.INIT 0000000011111111
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1

.tile R37C13:PLC2
arc: E3_H06E0103 S3_V06N0103

.tile R37C19:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R37C25:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R37C31:PLC2
arc: N1_V02N0201 W3_H06E0103

.tile R41C12:PLC2
arc: A0 S1_V02N0701
arc: F0 F0_SLICE
arc: N3_V06N0003 F0
word: SLICEA.K0.INIT 0101010101010101
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1

.tile R43C10:PLC2
arc: E1_H02E0301 H01E0101
arc: E1_H02E0601 W1_H02E0301
arc: A2 V02N0701
arc: B2 V02N0101
arc: C2 S1_V02N0601
arc: D2 V02N0001
arc: E1_H01E0001 F2
arc: E1_H02E0101 F3
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: H01W0000 F2
arc: H01W0100 F3
word: SLICEB.K1.INIT 0000000000000000
word: SLICEB.K0.INIT 0000000000000001
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_

.tile R43C11:PLC2
arc: E1_H02E0501 V01N0101
arc: V00T0100 W1_H02E0301
arc: A1 H01E0001
arc: B1 H02E0301
arc: C1 H02E0601
arc: D1 W1_H02E0201
arc: E1_H01E0101 F0
arc: E1_H02E0201 F0
arc: F0 F5A_SLICE
arc: M0 V00T0100
arc: S1_V02S0201 F0
word: SLICEA.K0.INIT 1111111111111111
word: SLICEA.K1.INIT 0111111111111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_

.tile R43C12:PLC2
arc: E1_H02E0101 H01E0101
arc: H00L0000 H02E0201
arc: A2 H02E0501
arc: A4 V00B0000
arc: A5 Q5
arc: A6 H00R0000
arc: A7 Q7
arc: B0 W1_H02E0101
arc: B3 Q3
arc: CE1 H00L0000
arc: CE2 H00L0000
arc: CE3 H00L0000
arc: CLK0 G_HPBX0000
arc: E3_H06E0203 Q4
arc: F3 F3_SLICE
arc: F4 F4_SLICE
arc: F5 F5_SLICE
arc: F6 F6_SLICE
arc: F7 F7_SLICE
arc: H00R0000 Q6
arc: MUXCLK1 CLK0
arc: MUXCLK2 CLK0
arc: MUXCLK3 CLK0
arc: N1_V02N0701 Q5
arc: S3_V06S0303 Q6
arc: V00B0000 Q4
arc: W3_H06W0003 Q3
arc: W3_H06W0203 Q7
word: SLICED.K1.INIT 1010101010100000
word: SLICED.K0.INIT 1010101010100000
word: SLICEC.K1.INIT 1010101010100000
word: SLICEC.K0.INIT 1010101010100000
word: SLICEB.K1.INIT 1100110011000000
word: SLICEB.K0.INIT 0110011001101100
word: SLICEA.K1.INIT 1111111111111111
word: SLICEA.K0.INIT 0000000000001100
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_1 NO
enum: SLICED.B1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_0 NO
enum: SLICED.B0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 YES
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICED.GSR DISABLED
enum: SLICED.REG1.SD 1
enum: SLICED.REG1.REGSET RESET
enum: SLICED.REG1.LSRMODE LSR
enum: SLICED.CEMUX INV
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 1
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX INV
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 1
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.CEMUX INV
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG1.SD 1
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX INV
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 1
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX INV
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R43C13:PLC2
arc: B0 V00T0000
arc: B1 Q1
arc: CE0 H02E0101
arc: CLK0 G_HPBX0000
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: MUXCLK0 CLK0
arc: N3_V06N0103 Q1
arc: V00T0000 Q0
arc: W3_H06W0003 Q0
word: SLICEB.K1.INIT 0000000000001110
word: SLICEB.K0.INIT 0000000000000000
word: SLICEA.K1.INIT 1100110011000000
word: SLICEA.K0.INIT 1100110011000000
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 NO
enum: SLICEA.A1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX INV
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX INV
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R43C18:PLC2
arc: E1_H01E0101 W3_H06E0203
arc: V00B0100 H02W0701
arc: D3 V00B0100
arc: E3_H06E0003 F3
arc: F3 F3_SLICE
word: SLICEB.K1.INIT 0000000011111111
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1

.tile R43C19:PLC2
arc: W1_H02W0701 H01E0101

.tile R43C24:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R43C30:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R43C36:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R43C3:PLC2
arc: S1_V02S0201 H06W0103

.tile R43C42:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R43C48:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R43C4:PLC2
arc: W3_H06W0203 E1_H01W0000

.tile R43C54:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R43C5:PLC2
arc: D0 E1_H02W0001
arc: F0 F0_SLICE
arc: H01W0000 F0
word: SLICEA.K0.INIT 0000000011111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1

.tile R43C60:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R43C66:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R43C6:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R43C72:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R43C78:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R43C7:PLC2
arc: E1_H02E0001 V01N0001
arc: H00R0000 V02N0601
arc: S1_V02S0301 E1_H02W0301
arc: S1_V02S0601 E1_H02W0601
arc: W1_H02W0001 E3_H06W0003
arc: A1 V02N0501
arc: B1 V02N0301
arc: C1 V02N0401
arc: D1 H00R0000
arc: E1_H02E0301 F1
arc: F1 F1_SLICE
word: SLICEA.K1.INIT 0000000000010000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_

.tile R43C84:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R43C87:PLC2
arc: S1_V02S0701 H06E0203

.tile R43C8:PLC2
arc: H00L0000 S1_V02N0201
arc: H00R0000 V02N0401
arc: V00B0000 V02N0201
arc: A2 V01N0101
arc: B2 V01N0001
arc: C2 V02N0601
arc: D2 H00R0000
arc: E1_H02E0301 F3
arc: F0 F5A_SLICE
arc: F1 FXA_SLICE
arc: F2 F5B_SLICE
arc: F3 FXB_SLICE
arc: F4 F5C_SLICE
arc: F5 FXC_SLICE
arc: F6 F5D_SLICE
arc: M0 V00B0000
arc: M1 H02E0001
arc: M2 V00B0000
arc: M3 H00L0000
arc: M4 V00B0000
arc: M5 H02E0001
arc: M6 V00B0000
word: SLICEC.K0.INIT 0000000000000000
word: SLICEC.K1.INIT 0000000000000000
word: SLICED.K0.INIT 0000000000000000
word: SLICEA.K0.INIT 0000000000000000
word: SLICEB.K1.INIT 0000000000000000
word: SLICED.K1.INIT 0000000000000000
word: SLICEA.K1.INIT 0000000000000000
word: SLICEB.K0.INIT 1000000000000000
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_0 _NONE_
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_0 _NONE_
enum: SLICED.A0MUX 1
enum: SLICED.B0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICED.A1MUX 1
enum: SLICED.B1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_

.tile R43C9:PLC2
arc: E1_H02E0201 S1_V02N0201
arc: S3_V06S0203 H06W0203
arc: W1_H02W0301 E1_H01W0100
arc: A3 F7
arc: A7 V02N0301
arc: B1 W1_H02E0301
arc: B3 H02E0301
arc: B7 V02N0501
arc: C1 F4
arc: C3 E1_H01W0000
arc: C4 V02N0001
arc: C6 Q6
arc: C7 V01N0101
arc: CLK0 G_HPBX0000
arc: D1 H00R0000
arc: D3 S1_V02N0201
arc: D7 V02N0601
arc: E1_H01E0101 F7
arc: E1_H02E0301 F1
arc: F1 F1_SLICE
arc: F2 F5B_SLICE
arc: F4 F4_SLICE
arc: F6 F6_SLICE
arc: F7 F7_SLICE
arc: H00R0000 Q6
arc: LSR1 V00T0000
arc: M2 V00T0100
arc: MUXCLK3 CLK0
arc: MUXLSR3 LSR1
arc: S1_V02S0201 F2
arc: V00T0000 F2
arc: V00T0100 F1
arc: V01S0100 F2
arc: W1_H02W0601 Q6
word: SLICED.K1.INIT 1000000000000000
word: SLICEA.K1.INIT 0000000000001100
word: SLICEC.K0.INIT 0000111100001111
word: SLICEB.K0.INIT 0000000000000000
word: SLICEB.K1.INIT 1000000000000000
word: SLICED.K0.INIT 0000111100001111
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A1MUX 1
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_0 _NONE_
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 1
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_0 _NONE_
enum: SLICED.A0MUX 1
enum: SLICED.B0MUX 1
enum: SLICED.D0MUX 1

.tile R44C10:PLC2
arc: N1_V02N0701 H02E0701
arc: B0 V00T0000
arc: B1 Q1
arc: B2 H00L0000
arc: B3 Q3
arc: CLK0 G_HPBX0000
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: H00L0000 Q2
arc: H01W0000 Q0
arc: LSR0 H02E0301
arc: LSR1 H02E0301
arc: MUXCLK0 CLK0
arc: MUXCLK1 CLK0
arc: MUXLSR0 LSR0
arc: MUXLSR1 LSR1
arc: N1_V02N0001 Q2
arc: N1_V02N0101 Q3
arc: V00T0000 Q0
arc: V01S0000 Q1
word: SLICEA.K0.INIT 1100110011000000
word: SLICEA.K1.INIT 1100110011000000
word: SLICEB.K0.INIT 1100110011000000
word: SLICEB.K1.INIT 1100110011000000
word: SLICEC.K0.INIT 0000000000000000
word: SLICEC.K1.INIT 0000000000001110
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 1
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 NO
enum: SLICEA.A1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.A0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 1
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R44C11:PLC2
arc: CE0 V02S0201
arc: CLK0 G_HPBX0000
arc: D0 Q0
arc: F0 F0_SLICE
arc: MUXCLK0 CLK0
arc: N1_V01N0101 Q0
arc: W3_H06W0003 F0
word: SLICEA.K0.INIT 0000000011111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX INV
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R44C2:PLC2
arc: S3_V06S0103 H06W0103
arc: W1_H02W0701 E1_H01W0100

.tile R44C3:PLC2
arc: D2 V02S0201
arc: F2 F2_SLICE
arc: H01W0100 F2
word: SLICEB.K0.INIT 0000000011111111
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1

.tile R44C5:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R44C7:PLC2
arc: H00R0000 V02S0601
arc: A4 V00B0000
arc: A5 Q5
arc: A7 Q7
arc: B0 V02S0301
arc: B2 H00R0000
arc: B3 Q3
arc: B6 V01S0000
arc: CLK0 G_HPBX0000
arc: F3 F3_SLICE
arc: F4 F4_SLICE
arc: F5 F5_SLICE
arc: F6 F6_SLICE
arc: F7 F7_SLICE
arc: LSR0 E1_H02W0301
arc: LSR1 E1_H02W0501
arc: MUXCLK1 CLK0
arc: MUXCLK2 CLK0
arc: MUXCLK3 CLK0
arc: MUXLSR1 LSR1
arc: MUXLSR2 LSR1
arc: MUXLSR3 LSR0
arc: N1_V01N0001 Q7
arc: N1_V02N0301 Q3
arc: N1_V02N0401 Q6
arc: N1_V02N0501 Q5
arc: N1_V02N0601 Q4
arc: V00B0000 Q4
arc: V01S0000 Q6
word: SLICED.K1.INIT 1010101010100000
word: SLICED.K0.INIT 1100110011000000
word: SLICEC.K1.INIT 1010101010100000
word: SLICEC.K0.INIT 1010101010100000
word: SLICEB.K1.INIT 1100110011000000
word: SLICEB.K0.INIT 0110011001101010
word: SLICEA.K1.INIT 1111111111111111
word: SLICEA.K0.INIT 0000000000001100
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_1 NO
enum: SLICED.B1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_0 NO
enum: SLICED.A0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.A0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 YES
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 1
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 1
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG1.SD 1
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 1
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.GSR DISABLED
enum: SLICED.REG1.SD 1
enum: SLICED.REG1.REGSET RESET
enum: SLICED.REG1.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R44C87:PLC2
arc: E1_H02E0701 V02S0701

.tile R44C8:PLC2
arc: A4 V00B0000
arc: A5 Q5
arc: A6 H00R0000
arc: A7 Q7
arc: B0 V00T0000
arc: B1 Q1
arc: B2 H01W0100
arc: B3 Q3
arc: CLK0 G_HPBX0000
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: F4 F4_SLICE
arc: F5 F5_SLICE
arc: F6 F6_SLICE
arc: F7 F7_SLICE
arc: H00R0000 Q6
arc: H01W0100 Q2
arc: LSR0 H02W0301
arc: LSR1 H02W0501
arc: MUXCLK0 CLK0
arc: MUXCLK1 CLK0
arc: MUXCLK2 CLK0
arc: MUXCLK3 CLK0
arc: MUXLSR0 LSR1
arc: MUXLSR1 LSR0
arc: MUXLSR2 LSR0
arc: MUXLSR3 LSR1
arc: N1_V01N0001 Q5
arc: N1_V01N0101 Q3
arc: N1_V02N0201 Q0
arc: N1_V02N0401 Q4
arc: N1_V02N0601 Q6
arc: S1_V02S0501 Q7
arc: V00B0000 Q4
arc: V00T0000 Q0
arc: V01S0000 Q1
arc: V01S0100 Q2
word: SLICED.K1.INIT 1010101010100000
word: SLICED.K0.INIT 1010101010100000
word: SLICEC.K1.INIT 1010101010100000
word: SLICEC.K0.INIT 1010101010100000
word: SLICEB.K1.INIT 1100110011000000
word: SLICEB.K0.INIT 1100110011000000
word: SLICEA.K1.INIT 1100110011000000
word: SLICEA.K0.INIT 1100110011000000
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_1 NO
enum: SLICED.B1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_0 NO
enum: SLICED.B0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.A0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 NO
enum: SLICEA.A1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 1
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 1
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 1
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG1.SD 1
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 1
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.GSR DISABLED
enum: SLICED.REG1.SD 1
enum: SLICED.REG1.REGSET RESET
enum: SLICED.REG1.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R44C9:PLC2
arc: E1_H02E0301 N1_V01S0100
arc: N1_V02N0001 E1_H01W0000
arc: V00B0000 V02S0201
arc: W1_H02W0301 N1_V01S0100
arc: W1_H02W0501 N1_V01S0100
arc: A5 Q5
arc: A7 Q7
arc: B0 V00T0000
arc: B1 Q1
arc: B2 H01W0100
arc: B3 Q3
arc: B4 H00R0000
arc: B6 V01S0000
arc: CLK0 G_HPBX0000
arc: E1_H02E0701 Q7
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: F4 F4_SLICE
arc: F5 F5_SLICE
arc: F6 F6_SLICE
arc: F7 F7_SLICE
arc: H00R0000 Q4
arc: H01W0100 Q2
arc: LSR0 V00B0000
arc: LSR1 V00B0000
arc: MUXCLK0 CLK0
arc: MUXCLK1 CLK0
arc: MUXCLK2 CLK0
arc: MUXCLK3 CLK0
arc: MUXLSR0 LSR0
arc: MUXLSR1 LSR1
arc: MUXLSR2 LSR1
arc: MUXLSR3 LSR0
arc: N1_V01N0101 Q6
arc: N1_V02N0301 Q3
arc: N1_V02N0501 Q5
arc: N1_V02N0601 Q4
arc: S1_V02S0001 Q0
arc: S1_V02S0101 Q1
arc: V00T0000 Q0
arc: V01S0000 Q6
arc: V01S0100 Q2
word: SLICEC.K0.INIT 1100110011000000
word: SLICEB.K1.INIT 1100110011000000
word: SLICEB.K0.INIT 1100110011000000
word: SLICEA.K1.INIT 1100110011000000
word: SLICEA.K0.INIT 1100110011000000
word: SLICED.K0.INIT 1100110011000000
word: SLICED.K1.INIT 1010101010100000
word: SLICEC.K1.INIT 1010101010100000
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.A0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.A0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_1 NO
enum: SLICEA.A1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_0 NO
enum: SLICED.A0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICED.MODE CCU2
enum: SLICED.CCU2.INJECT1_1 NO
enum: SLICED.B1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 1
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG1.SD 1
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 1
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG1.SD 1
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 1
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.GSR DISABLED
enum: SLICED.REG1.SD 1
enum: SLICED.REG1.REGSET RESET
enum: SLICED.REG1.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R45C10:PLC2
arc: N1_V02N0601 N1_V01S0000

.tile R45C8:PLC2
arc: E1_H02E0501 V02S0501
arc: C0 N1_V01S0100
arc: D0 N1_V01S0000
arc: F0 F0_SLICE
arc: N1_V02N0201 F0
word: SLICEA.K0.INIT 0000000000001111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1

.tile R45C9:PLC2
arc: A0 H02E0501
arc: B0 V02S0101
arc: C0 N1_V01S0100
arc: D0 V02S0001
arc: F0 F0_SLICE
arc: N1_V02N0201 F0
word: SLICEA.K0.INIT 0001000000000000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_

.tile R49C12:PLC2
arc: S3_V06S0303 N3_V06S0303

.tile R49C9:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R50C2:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R55C12:PLC2
arc: E1_H02E0601 N3_V06S0303

.tile R55C14:PLC2
arc: C5 W1_H02E0601
arc: F5 F5_SLICE
arc: S3_V06S0303 F5
word: SLICEC.K1.INIT 0000111100001111
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.D1MUX 1

.tile R55C9:PLC2
arc: S1_V02S0501 N3_V06S0303

.tile R56C2:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R57C2:PLC2
arc: S1_V02S0101 E3_H06W0103

.tile R57C8:PLC2
arc: V00B0100 H02W0501
arc: D2 V00B0100
arc: F2 F2_SLICE
arc: W3_H06W0103 F2
word: SLICEB.K0.INIT 0000000011111111
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1

.tile R57C9:PLC2
arc: W1_H02W0501 N1_V02S0501

.tile R59C2:PLC2
arc: W1_H02W0101 N1_V02S0101
arc: W1_H02W0501 V06S0303

.tile R61C14:PLC2
arc: S3_V06S0303 N3_V06S0303

.tile R67C14:PLC2
arc: S3_V06S0303 N3_V06S0303

.tile R8C29:PLC2
word: SLICEC.K1.INIT 1111111111111111
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1

.tile TAP_R43C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000
arc: R_HPBX0000 G_VPTX0000

.tile TAP_R44C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

