.device LFE5U-45F

.comment Part: LFE5U-45F-6CABGA381

.tile CIB_R10C3:PVT_COUNT2
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile CIB_R22C11:CIB_DSP
arc: E3_H06E0103 W3_H06E0003

.tile CIB_R22C17:CIB_DSP
arc: E3_H06E0103 W3_H06E0103

.tile CIB_R22C23:CIB_DSP
arc: E3_H06E0103 W3_H06E0103

.tile CIB_R22C29:CIB_DSP
arc: E3_H06E0103 W3_H06E0103

.tile CIB_R22C35:CIB_DSP
arc: E3_H06E0203 W3_H06E0103

.tile CIB_R22C41:CIB_DSP
arc: E3_H06E0303 W3_H06E0203

.tile CIB_R22C47:CIB_DSP
arc: E3_H06E0003 W3_H06E0303

.tile CIB_R22C53:CIB_DSP
arc: E3_H06E0003 W3_H06E0003

.tile CIB_R22C59:CIB_DSP
arc: E3_H06E0103 W3_H06E0003

.tile CIB_R22C5:CIB_DSP
arc: E3_H06E0003 S3_V06N0003

.tile CIB_R22C65:CIB_DSP
arc: E3_H06E0203 W3_H06E0103

.tile CIB_R22C71:CIB_DSP
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R22C77:CIB_DSP
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R22C83:CIB_DSP
arc: E3_H06E0303 W3_H06E0203

.tile CIB_R22C88:CIB_DSP
arc: E1_H02E0501 E1_H01W0100

.tile CIB_R22C89:CIB_LR_S
arc: H01W0100 W3_H06E0303
arc: JA3 H02E0501
enum: CIB.JB3MUX 0

.tile CIB_R31C89:CIB_LR
arc: JA0 H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R34C4:CIB_EBR
arc: N3_V06N0103 S3_V06N0003

.tile CIB_R34C5:CIB_EBR
arc: N3_V06N0303 S3_V06N0203

.tile CIB_R44C89:CIB_LR
arc: JA3 V00T0000
arc: V00T0000 W1_H02E0201
enum: CIB.JB3MUX 0

.tile CIB_R46C12:CIB_DSP
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R46C18:CIB_DSP
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R46C1:CIB_LR_S
arc: JA0 E1_H02W0701
arc: JA3 V02N0501
arc: V01S0100 S3_V06N0303
enum: CIB.JB3MUX 0
enum: CIB.JB0MUX 0

.tile CIB_R46C24:CIB_DSP
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R46C30:CIB_DSP
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R46C36:CIB_DSP
arc: E3_H06E0303 W3_H06E0203

.tile CIB_R46C3:CIB_DSP
arc: W1_H02W0701 S3_V06N0203

.tile CIB_R46C42:CIB_DSP
arc: E3_H06E0303 W3_H06E0303

.tile CIB_R46C48:CIB_DSP
arc: E3_H06E0003 W3_H06E0303

.tile CIB_R46C4:CIB_DSP
arc: N3_V06N0003 S3_V06N0303

.tile CIB_R46C54:CIB_DSP
arc: E3_H06E0003 W3_H06E0003

.tile CIB_R46C5:CIB_DSP
arc: N3_V06N0203 S3_V06N0103

.tile CIB_R46C60:CIB_DSP
arc: E3_H06E0103 W3_H06E0003

.tile CIB_R46C66:CIB_DSP
arc: E3_H06E0203 W3_H06E0103

.tile CIB_R46C6:CIB_DSP
arc: E3_H06E0203 S3_V06N0203

.tile CIB_R46C72:CIB_DSP
arc: E3_H06E0303 W3_H06E0203

.tile CIB_R46C78:CIB_DSP
arc: E3_H06E0003 W3_H06E0303

.tile CIB_R46C84:CIB_DSP
arc: E3_H06E0103 W3_H06E0003

.tile CIB_R46C87:CIB_DSP
arc: N1_V02N0201 H06E0103

.tile CIB_R47C1:CIB_LR
arc: N1_V02N0501 N1_V01S0100

.tile CIB_R52C1:CIB_LR
arc: N3_V06N0303 S3_V06N0203

.tile CIB_R58C1:CIB_LR_S
arc: N3_V06N0203 S3_V06N0203
arc: S1_V02S0201 S3_V06N0103

.tile CIB_R58C3:CIB_EBR
arc: N3_V06N0103 S3_V06N0103

.tile CIB_R58C4:CIB_EBR
arc: N3_V06N0203 S3_V06N0103

.tile CIB_R58C5:CIB_EBR
arc: N3_V06N0003 S3_V06N0003

.tile CIB_R58C6:CIB_EBR
arc: N3_V06N0103 S3_V06N0103

.tile CIB_R59C1:CIB_LR
arc: H00L0000 V02S0201
arc: JA0 H00L0000
arc: S1_V02S0501 S3_V06N0303
enum: CIB.JB0MUX 0

.tile CIB_R5C1:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R5C89:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R61C1:CIB_LR
arc: JA0 N1_V02S0501
enum: CIB.JB0MUX 0

.tile CIB_R64C1:CIB_LR
arc: N3_V06N0103 S3_V06N0003
arc: N3_V06N0203 S3_V06N0103

.tile CIB_R65C1:CIB_LR
arc: N3_V06N0303 JQ5
arc: S3_V06S0303 JF5

.tile CIB_R68C1:CIB_LR
arc: E3_H06E0303 V06S0303

.tile CIB_R70C10:CIB
arc: W3_H06W0003 JQ0

.tile CIB_R70C16:CIB
arc: JA0 N1_V02S0501
enum: CIB.JB0MUX 0

.tile CIB_R70C1:CIB_LR_S
arc: N3_V06N0003 E3_H06W0003
arc: N3_V06N0103 H06W0103

.tile CIB_R70C3:CIB_PLL3
arc: N3_V06N0003 E3_H06W0003
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C42:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C43:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C44:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C45:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C46:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C47:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C48:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C49:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C4:CIB
arc: N3_V06N0003 JQ0
arc: W3_H06W0103 E3_H06W0003

.tile CIB_R70C50:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C51:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C52:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C53:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R70C5:CIB
arc: N3_V06N0003 JQ0

.tile CIB_R70C69:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C6:CIB_EFB0
arc: N3_V06N0003 JQ0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C70:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C71:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C72:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C73:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C74:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C75:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C76:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C77:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C78:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C79:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C7:CIB_EFB1
arc: W3_H06W0003 JQ0
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R70C80:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R70C87:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C9:CIB
arc: W3_H06W0003 JQ0

.tile MIB_R10C40:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000

.tile MIB_R10C41:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000

.tile MIB_R10C90:BANKREF2
enum: BANK.VCCIO 3V3

.tile MIB_R21C90:PICR1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R22C90:MIB_CIB_LR_A
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R30C90:PICR1_DQS3
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R31C90:PICR2
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R44C90:PICR0
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R45C0:PICL1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R45C90:PICR1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R46C0:MIB_CIB_LR
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R58C40:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000

.tile MIB_R58C41:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000

.tile MIB_R59C0:PICL0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R60C0:PICL1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R61C0:PICL2
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R65C0:PICL0_DQS2
arc: JDIA JPADDIA_PIO
arc: JDIB JPADDIB_PIO
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R66C0:PICL1_DQS3
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON

.tile MIB_R69C0:PICL1
enum: PIOC.BASE_TYPE INPUT_LVCMOS33
enum: PIOC.HYSTERESIS ON

.tile MIB_R70C0:MIB_CIB_LR
enum: PIOC.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R71C10:PICB1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON

.tile MIB_R71C16:PICB1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R71C1:BANKREF6
enum: BANK.VCCIO 3V3

.tile MIB_R71C3:BANKREF8
enum: BANK.VCCIO 3V3

.tile MIB_R71C4:EFB0_PICB0
arc: JDIA JPADDIA_PIO
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R71C5:EFB1_PICB1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON

.tile MIB_R71C6:EFB2_PICB0
arc: JDIA JPADDIA_PIO
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON

.tile MIB_R71C7:EFB3_PICB1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON

.tile MIB_R71C89:BANKREF3
enum: BANK.VCCIO 3V3

.tile MIB_R71C9:PICB0
arc: JDIA JPADDIA_PIO
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON

.tile R28C10:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R28C16:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R28C22:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R28C28:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R28C34:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R28C40:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R28C46:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R28C4:PLC2
arc: E3_H06E0103 S3_V06N0103

.tile R28C52:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R28C58:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R28C5:PLC2
arc: N3_V06N0003 S3_V06N0303

.tile R28C64:PLC2
arc: E3_H06E0003 W3_H06E0003

.tile R28C70:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R28C76:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R28C82:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R28C88:PLC2
arc: S3_V06S0303 W3_H06E0303

.tile R31C88:PLC2
arc: E1_H02E0501 V06S0303

.tile R40C4:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R40C5:PLC2
arc: N3_V06N0203 S3_V06N0203

.tile R44C87:PLC2
arc: E1_H02E0201 S1_V02N0201

.tile R52C3:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R52C4:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile R52C5:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R52C6:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R64C3:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R64C4:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R64C5:PLC2
arc: N3_V06N0003 S3_V06N0003

.tile R64C6:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R68C13:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R68C16:PLC2
arc: S1_V02S0501 H06E0303

.tile R68C7:PLC2
arc: E3_H06E0303 W3_H06E0303

