LOCATE COMP "s[0]" SITE "T1";
IOBUF PORT "s[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "s[1]" SITE "Y2";
IOBUF PORT "s[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "s[2]" SITE "V1";
IOBUF PORT "s[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "s[3]" SITE "N2";
IOBUF PORT "s[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "s[4]" SITE "R1";
IOBUF PORT "s[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "s[5]" SITE "U1";
IOBUF PORT "s[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "s[6]" SITE "W1";
IOBUF PORT "s[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "s[7]" SITE "M1";
IOBUF PORT "s[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "btn[0]" SITE "H4";
IOBUF PORT "btn[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "btn[1]" SITE "H3";
IOBUF PORT "btn[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "btn[2]" SITE "G3";
IOBUF PORT "btn[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "btn[3]" SITE "F3";
IOBUF PORT "btn[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "btn[4]" SITE "F1";
IOBUF PORT "btn[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "btn[5]" SITE "E4";
IOBUF PORT "btn[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "btn[6]" SITE "F2";
IOBUF PORT "btn[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "btn[7]" SITE "E1";
IOBUF PORT "btn[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[7]" SITE "J16";
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[6]" SITE "L5";
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[5]" SITE "M4";
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[4]" SITE "R3";
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[3]" SITE "J18";
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[2]" SITE "P16";
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[1]" SITE "L4";
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "N4";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHz;
