LOCATE COMP "tx" SITE "J17";
IOBUF PORT "tx" IO_TYPE=LVCMOS33;

LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHz;

LOCATE COMP "rx" SITE "H18";
IOBUF PORT "rx" IO_TYPE=LVCMOS33;
